/*エリアごとのレイアウト設定*/
#Site-Box{
    width :1440px;
    margin : 5px auto
}
.Title{
    background-color:#cc66cc;
}
.TimeLine{
    float: left;
    width:700px; 
    background-color:#FFFF99;
    overflow: scroll;/*スクロールバー*/
    height:900px;/*この値を超えたらスクロール*/
}
.Notification{
	float: right;
    width:700px; 
    height:auto;
    background-color:#80ffff;
}
.Tweet{
   float: right;
    width:700px; 
    background-color:#66ff33;
}


.ButtonArea{
    float: right;
    width:700px; 
    background-color:#33ccff;
}

