<!DOCTYPE html>
<html lang="ja-jp">

<head>

<title>Tritter</title>

<link rel="shortcut icon" href="favicon.ico" />
<meta charset="UTF-8" />

<link rel="StyleSheet" type="text/css" href="StyleSheet.css" />
<!--全体のレイアウト-->
<link rel="StyleSheet" type="text/css" href="Tweet.css" />
<!--Tweetのレイアウト-->
<link rel="StyleSheet" type="text/css" href="TL.css" />
<!--TLのレイアウト-->
<link rel="StyleSheet" type="text/css" href="ButtonArea.css" />
<!--ButtonAreaのレイアウト-->
</head>

<body>


	<div id="Site-Box">
		<!--ページ全体の定義-->

		<div class="Title">
			<!--タイトルエリア-->
			<h1>Tritter</h1>
		</div>

		<div class="TimeLine">
			<!--タイムラインエリア-->

			<h1>TimeLine</h1>
			<p>タイムライン情報を表示</p>

			<div id="TLtweet">
				<!--タイムラインの一つのツイート-->
				<a href="">
					<div id="TLacountimage">
						<!--TLアイコン表示-->

						<img src="画像.png" alt="画像" id="TLacountimage" />
					</div>


					<div id="TLAccountName">
						<p>
							<font size="3">アカウント名</font> <font size="2">@account</font>
						</p>

					</div>


					<div class="TweetContents">
						<!--TLツイート内容表示-->
						<font size="2"><p>ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
                            ツイート内容ツイート内容ツイート内容ツイート内容</p></font>
					</div>

					<div class="TLTweetimg">
						<!--ツイート写真があれば表示-->
						<img src="pic.png" alt="画像" class="TLTweetimg" />
					</div>

					<div class="Rep">
						<!--TLリプライ内容表示-->
						<p>
							<button type="tlrepbutton">⤴</button>　　　　　　
							<button type="tlrtbutton">🔁</button>
							350　　　　　　          
							<button type="tlfavbutton">♡</button>
							350        
						</p>
					</div>
				</a>
			</div>


			<div id="TLtweet">

				<div id="TLacountimage">
					<!--TLアイコン表示-->
					<img src="画像.png" alt="画像" id="TLacountimage" />
				</div>


				<div id="TLAccountName">
					<p>
						<font size="3">アカウント名</font> <font size="2">@account</font>
					</p>

				</div>


				<div class="TweetContents">
					<!--TLツイート内容表示-->
					<font size="2"><p>ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
							ツイート内容ツイート内容ツイート内容ツイート内容</p></font>
				</div>

				<div class="TLTweetimg">
					<!--ツイート写真があれば表示-->
					<img src="画像.png" alt="画像" class="TLTweetimg" />
				</div>

				<div class="Rep">
					<!--TLリプライ内容表示-->
					<p>
						<button type="tlrepbutton">⤴</button>　　　　　
						<button type="tlrtbutton">🔁</button>
						350　　　　　
						<button type="tlfavbutton">♡</button>
						350
					</p>
				</div>
			</div>




		</div>

		<div class="Tweet">
			<!--ツイートのBox-->

			<div id="acountimage">
				<!--アイコン表示-->
				<img src="画像.png" alt="画像" id="acountimage" />
			</div>

			<div id="followimage">
				<!--フォローする・フォロー中の画像-->
				<img src="follow.png" alt="画像" id="followimage" />
			</div>

			<div id="AccountName">
				<h2>アカウント名</h2>
				<p>@acount</p>
			</div>


			<div class="TweetContents">
				<!--ツイート内容表示-->
				<p>ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
					ツイート内容ツイート内容ツイート内容ツイート内容 ツイート内容ツイート内容ツイート内容ツイート内容
					ツイート内容ツイート内容ツイート内容ツイート内容
					ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容ツイート内容</p>


			</div>

			<div id="Tweetimg">
				<!--ツイート写真があれば表示-->
				<img src="画像.png" alt="画像" id="Tweetimg" />
			</div>

			<div id="RT">
				<!--RT表示-->
				<font color="#33ccff"><span th:text="${rt}"></span></font>
				<p>リツイート</p>
			</div>

			<div id="Good">
				<!--いいね表示-->
				<font color="#33ccff"><span th:text="${fav}"></span></font>
				<p>いいね</p>
			</div>

			<div id="Day">
				<!--日にち表示-->
				HH:MM-YYYY年MM月DD日
			</div>

			<div class="Rep">

                <div class="button">
				<button type="button" name="rep_button">⤴</button>
				</div>
				<div class="button">
				<form method="get" th:action="@{/rt_button}">
					<!-- りついぼたん押したときの処理 -->
					<button type="submit" name="rt_button">
						<span th:text="${rtpush}"></span>
					</button >
				
				</form>
				</div>
				<div class="text">
				<span th:text="${rt}"></span>
				</div>
				
				
				<div class="button">
				<form method="get" th:action="@{/fav_button}">
					<!-- ふぁぼぼたん押したときの処理 -->
					<button type="submit" name="fav_button">
						<span th:text="${favpush}"></span>
					</button>
					
				</form>
				</div>
				<div class="text">
				<span th:text="${fav}"></span>
                </div>
			</div>

		</div>

		<div class="ButtonArea">
			<!--ボタン配置エリア-->
			<h2>ButtonArea</h2>
			<p>ボタンを配置</p>
			<p>
			<form method="get" th:action="@{/rt_fav}">
				
					<button type="enjo">炎上</button>
					RT数変更<input type="number" name="rt" max="9999999" th:value="${rt}" />
					ふぁぼ数変更<input type="number" name="fav" max="9999999" th:value="${fav}" />
					
					</form>
					<form method="get" th:action="@{/clear}">
                    <button type="submit" >クリア</button>
                    </form>
				</p>
			
		</div>

	</div>

</body>
</html>