<!DOCTYPE html>
<html lang="ja-jp">

<head>

<title>Tritter</title>
<script src="http://code.jquery.com/jquery-2.0.0.js"></script>

<link rel="shortcut icon" href="favicon.ico" />
<meta charset="UTF-8" />

<link rel="StyleSheet" type="text/css" href="StyleSheet.css" />
<!--全体のレイアウト-->
<link rel="StyleSheet" type="text/css" href="Tweet.css" />
<!--Tweetのレイアウト-->
<link rel="StyleSheet" type="text/css" href="TL.css" />
<!--TLのレイアウト-->
<link rel="StyleSheet" type="text/css" href="ButtonArea.css" />
<!--ButtonAreaのレイアウト-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(function(){
    var countElm = $('.count'),
    countSpeed = 100;
 
    countElm.each(function(){
        var self = $(this),
        countMax = self.attr('data-num'),
        thisCount = self.text(),
        countTimer;
 
        function timer(){
            countTimer = setInterval(function(){
                var countNext = thisCount++;
                self.text(countNext);
 
                if(countNext == countMax){
                    clearInterval(countTimer);
                }
            },countSpeed);
        }
        timer();
    });
 
});
</script>

</head>

<body>


	<div id="Site-Box">
		<!--ページ全体の定義-->

		<div class="Title">
			<!--タイトルエリア-->
			<h1>Tritter</h1>
		</div>

		<div class="TimeLine">
			<!--タイムラインエリア-->
           
			<h1>TimeLine</h1>        

            

			<p>タイムライン情報を表示</p>

			<!--th:each-->
			<div th:each="tweet : ${tweets}">
				<div class="TLtweet">
                   <div th:id ="${tweet.tweetId}">
					<!--タイムラインの一つのツイート-->
					
						<div class="TLacountImage">
							<!--TLアイコン表示-->
							<img th:src="${tweet.accountimgURL}" alt="画像" id="TLacountimage" />

						</div>


						<div class="TLaccountName">
							<p>
								<font size="3"><span th:text="${tweet.accountName}"></span></font> <font
									size="2">@<span th:text="${tweet.screenName}"></span></font>
							</p>
						</div>

                        <!-- ツイートIDを送信 -->
                        <form method="post" th:action="@{/setTweet}">
                          <input name="tweetId" type="hidden" th:value="${tweet.tweetId}" />
                          <button type="submit">表示</button>
                        </form>

						<div class="TweetContents">
							<!--TLツイート内容表示-->
							<font size="2"><p>
									<span th:text="${tweet.tweetContents}"></span>
								</p></font>
						</div>

						<div class="TLtweetImg">
							<!--ツイート写真があれば表示-->
							<img th:src="${tweet.tweetimgURL}" alt="" class="TLtweetImg" />
						</div>

						<div class="Rep">
							<!--TLリプライ内容表示-->
							<div class="button">
								<button type="tlRepButton">⤴</button>
							</div>

							<div class="button">
								<form method="post" th:action="@{/rtButton}">
									<!-- りついぼたん押したときの処理 -->
									<input name="tweetId" type="hidden" th:value="${tweetId}" />
									　　　　　<button type="submit" name="rtButton">
										<span th:text="${tweet.rtIcon}"></span>
									</button>
								</form>
							</div>
							<div class="text">
                              
								<span th:text="${tweet.Rt}"></span>
							
								
							</div>

							<div class="button">
								<form method="post" th:action="@{/favButton}">
									<!-- ふぁぼぼたん押したときの処理 -->
									<input name="tweetId" type="hidden" th:value="${tweetId}" />
									　　　　　<button type="submit" name="tlFavButton">
										<span th:text="${tweet.favIcon}"></span>
									</button>
								</form>
							</div>
							
							<span th:text="${tweet.Fav}"></span>
                            
						</div>
					
				</div>
			</div>
			</div>
		</div>
		 <div th:each="tweetBox : ${tweet}">
        <div class= "Notification">
        <!--通知エリア-->
            <p>ツイート　<span th:text="${tweetBox.tweetCount}"></span>　　フォロー　<span th:text="${tweetBox.friendsCount}"></span>　　フォロワー　<span th:text="${tweetBox.followersCount}"></span>　　通知　🔔 <span th:text="${notificationCount}"></span></p>
        </div>
        </div>
		<div class="Tweet">
			<!--ツイートのBox-->
            <div th:each="tweetBox : ${tweet}">
			<div id="acountimage">
				<!--アイコン表示-->
				<img th:src="${tweetBox.accountimgURL}" alt="画像" id="acountimage" />
			</div>


			<div id="AccountName">
				<h2><span th:text="${tweetBox.accountName}">
				</span></h2>
				<p>@<span th:text="${tweetBox.screenName}"></span></p>
			</div>


			<div class="TweetContents">
				<!--ツイート内容表示-->
                <span th:text="${tweetBox.tweetContents}"></span>
			</div>
            <p></p>
			<div id="Tweetimg">
				<!--ツイート写真があれば表示-->
				<img th:src="${tweetBox.tweetimgURL}" alt="" id="Tweetimg" />
			</div>

			<div id="RT">
				<!--RT表示-->
				<h3><font color="#33ccff"><span th:text="${tweetBox.Rt}"></span></font></h3>
				<p>リツイート</p>
			</div>

			<div id="Good">
				<!--いいね表示-->
				<h3><font color="#33ccff"><span th:text="${tweetBox.Fav}"></span></font></h3>
				<p>いいね</p>
			</div>

			<div id="Day">
				<!--日にち表示-->
				<span th:text="${tweetBox.tweetTime}"></span>
			</div>

			<div class="Rep">

				<div class="button">
					<button type="button" name="repButton">⤴</button>
				</div>
				<div class="button">
					<form method="post" th:action="@{/rtButton}">
						<!-- りついぼたん押したときの処理 -->
						<input name="tweetId" type="hidden" th:value="${tweetId}" />
						　　　　　<button type="submit" name="rtButton">
							<span th:text="${tweetBox.rtIcon}"></span>
						</button>

					</form>
				</div>
				<div class="text">
					<span th:text="${tweetBox.Rt}"></span>
				</div>


				<div class="button">
					<form method="post" th:action="@{/favButton}">
						<!-- ふぁぼぼたん押したときの処理 -->
						<input name="tweetId" type="hidden" th:value="${tweetId}" />
						　　　　　<button type="submit" name="favButton">
							<span th:text="${tweetBox.favIcon}"></span>
						</button>

					</form>
				</div>

				<span th:class="${count}" data-num="10000"><span th:text="${tweetBox.Fav}"></span></span>

			</div>
         </div>
		</div>
		<div class="ButtonArea">
			<!--ボタン配置エリア-->
			<h2>ButtonArea</h2>
			<p>ボタンを配置</p>
			<form method="post" th:action="@{/Flaming}">
			<input name="tweetId" type="hidden" th:value="${tweetId}" />
			     <button type="submit">炎上</button>
			</form>
			<form method="post" th:action="@{/rtFavInput}">
                <input name="tweetId" type="hidden" th:value="${tweetId}" />
				RT数変更<input type="number" name="rt" max="9999999" min="0"
					th:value="${Rt}" /> ふぁぼ数変更<input type="number" name="fav"
					max="9999999" min="0" th:value="${Fav}" />
					
					<button type="submit">変更</button>
			</form>
			<form method="post" th:action="@{/clear}">
			    <input name="tweetId" type="hidden" th:value="${tweetId}" />
				<button type="submit">クリア</button>
			</form>

		</div>
       
	</div>

</body>
</html>