<!DOCTYPE html>
<html lang="ja-jp">

<head>

<title>Tritter</title>
<script src="http://code.jquery.com/jquery-2.0.0.js"></script>

<link rel="shortcut icon" href="favicon.ico" />
<meta charset="UTF-8" />

<link rel="StyleSheet" type="text/css" href="StyleSheet.css" />
<!--全体のレイアウト-->
<link rel="StyleSheet" type="text/css" href="Tweet.css" />
<!--Tweetのレイアウト-->
<link rel="StyleSheet" type="text/css" href="TL.css" />
<!--TLのレイアウト-->
<link rel="StyleSheet" type="text/css" href="ButtonArea.css" />
<!--ButtonAreaのレイアウト-->
</head>

<body>


	<div id="Site-Box">
		<!--ページ全体の定義-->

		<div class="Title">
			<!--タイトルエリア-->
			<h1>Tritter</h1>
		</div>

		<div class="TimeLine">
			<!--タイムラインエリア-->
           
			<h1>TimeLine</h1>        

            

			<p>タイムライン情報を表示</p>
             <form method="post" th:action="@{/getTweet}">
            <button type="submit" name="TLread_button">タイムライン読み込み</button>
            </form>
			<!--th:each-->
			<div th:each="tweet : ${tweets}">
				<div class="TLtweet">
                   <div th:id ="${tweet.tweetId}">
					<!--タイムラインの一つのツイート-->
					<a href="">
						<div class="TLacountimage">
							<!--TLアイコン表示-->
							<img th:src="${tweet.accountimgURL}" alt="画像" id="TLacountimage" />

						</div>


						<div class="TLAccountName">
							<p>
								<font size="3"><span th:text="${tweet.accountName}"></span></font> <font
									size="2">@<span th:text="${tweet.screenName}"></span></font>
							</p>
						</div>


                        <form method="post" th:action="@{/setTweet}">
                          <input name="tweetId" type="hidden" th:value="${tweet.tweetId}" />
                          <button type="submit">表示</button>
                        </form>

						<div class="TweetContents">
							<!--TLツイート内容表示-->
							<font size="2"><p>
									<span th:text="${tweet.tweetContents}"></span>
								</p></font>
						</div>

						<div class="TLTweetimg">
							<!--ツイート写真があれば表示-->
							<img th:src="${tweet.tweetimgURL}" alt="" class="TLTweetimg" />
						</div>

						<div class="Rep">
							<!--TLリプライ内容表示-->
							<div class="button">
								<button type="tlrepbutton">⤴</button>
							</div>

							<div class="button">
								<form method="post" th:action="@{/rt_button}">
									<!-- りついぼたん押したときの処理 -->
									　　　　　<button type="submit" name="rt_button">
										<span th:text="${rtpush}"></span>
									</button>
								</form>
							</div>
							<div class="text">
								<span th:text="${tweet.rt}"></span>
							</div>

							<div class="button">
								<form method="post" th:action="@{/fav_button}">
									<!-- ふぁぼぼたん押したときの処理 -->
									　　　　　<button type="submit" name="tl_fav_button">
										<span th:text="${favpush}"></span>
									</button>
								</form>
							</div>

							<span th:text="${tweet.fav}"></span>

						</div>
					</a>
				</div>
               </div>
			</div>
		</div>

		<div class="Tweet">
			<!--ツイートのBox-->

			<div id="acountimage">
				<!--アイコン表示-->
				<img th:src="${accountimgURL}" alt="画像" id="acountimage" />
			</div>

			<div id="followimage">
				<!--フォローする・フォロー中の画像-->
				<img src="follow.png" alt="画像" id="followimage" />
			</div>

			<div id="AccountName">
				<h2><span th:text="${accountName}">
				</span></h2>
				<p>@<span th:text="${screenName}"></span></p>
			</div>


			<div class="TweetContents">
				<!--ツイート内容表示-->
                <span th:text="${tweetContents}"></span>
			</div>

			<div id="Tweetimg">
				<!--ツイート写真があれば表示-->
				<img th:src="${tweetimgURL}" alt="" id="Tweetimg" />
			</div>

			<div id="RT">
				<!--RT表示-->
				<font color="#33ccff"><span th:text="${rt}"></span></font>
				<p>リツイート</p>
			</div>

			<div id="Good">
				<!--いいね表示-->
				<font color="#33ccff"><span th:text="${fav}"></span></font>
				<p>いいね</p>
			</div>

			<div id="Day">
				<!--日にち表示-->
				HH:MM-YYYY年MM月DD日
			</div>

			<div class="Rep">

				<div class="button">
					<button type="button" name="rep_button">⤴</button>
				</div>
				<div class="button">
					<form method="post" th:action="@{/rt_button}">
						<!-- りついぼたん押したときの処理 -->
						　　　　　<button type="submit" name="rt_button">
							<span th:text="${rtpush}"></span>
						</button>

					</form>
				</div>
				<div class="text">
					<span th:text="${rt}"></span>
				</div>


				<div class="button">
					<form method="post" th:action="@{/fav_button}">
						<!-- ふぁぼぼたん押したときの処理 -->
						　　　　　<button type="submit" name="fav_button">
							<span th:text="${favpush}"></span>
						</button>

					</form>
				</div>

				<span th:text="${fav}"></span>

			</div>

		</div>
		<div class="ButtonArea">
			<!--ボタン配置エリア-->
			<h2>ButtonArea</h2>
			<p>ボタンを配置</p>
			
			<form method="post" th:action="@{/rt_fav_Input}">

				<button type="enjo">炎上</button>
				RT数変更<input type="number" name="rt" max="9999999" min="0"
					th:value="${rt}" /> ふぁぼ数変更<input type="number" name="fav"
					max="9999999" min="0" th:value="${fav}" />

			</form>
			<form method="post" th:action="@{/clear}">
				<button type="submit">クリア</button>
			</form>

		</div>

	</div>

</body>
</html>